* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
}
body {
  background: #1d2634;
  color: #9e9ea4;
}

.container {
  display: grid;
  grid-template-columns: 260px repeat(3, 1fr);
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------------Header-------------------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 6px -3px rgba(0, 0, 0, 0.35);
}
.header .bx {
  cursor: pointer;
}
.bx {
  vertical-align: middle;
  font-size: 2rem;
  line-height: 1px;
}
#menu-icon,
#close-icon {
  display: none;
}
/* ---------------Sidebar-------------------- */

.sidebar {
  grid-area: sidebar;
  height: 100%;
  background: #263043;
  overflow-y: auto;
  transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}
.sidebar-brand {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: 700;
}
.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style: none;
}
.sidebar-list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.sidebar-list-item i {
  margin-right: 0.4rem;
}
.sidebar-list-item:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
/* ---------------Main-------------------- */

.main-container {
  grid-area: main;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin: 1.25rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.3rem;
  border-radius: 0.3rem;
}
.card:first-child {
  background: #2962ff;
}
.card:nth-child(2) {
  background: #ff6d00;
}
.card:nth-child(3) {
  background: #2e7d32;
}
.card:last-child {
  background: #d50000;
}

.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-inner > .bx {
  font-size: 2.6rem;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 60px;
}
.chart-card {
  background: #263043;
  margin-bottom: 1.25rem;
  padding: 1.5rem;
  -webkit-column-break-inside: avoid;
  border-radius: 5px;
  box-shadow: 0 6px -3px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------Media Queries--------------- */

/* ----------Medium----------- */
@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header "
      "main";
  }
  #menu-icon {
    display: inline;
  }
  .bx {
    font-size: 1.5rem;
  }
}

/* ----------small----------- */

@media screen and (max-width: 768px) {
  .main-cards {
    gap: 10px;
    margin-bottom: 0;
    grid-template-columns: 1fr;
  }
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* ----------Extra small----------- */

@media screen and (max-width: 768px) {
  .main-cards {
    gap: 10px;
    margin-bottom: 0;
    grid-template-columns: 1fr;
  }
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .header-left {
    display: none;
  }
}
